<nav aria-label="breadcumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a [routerLinkActive]="'active'">Sprints</a></li>
    </ol>
</nav>
<div class="d-flex justify-content-end mt-2 mb-2">
    <button class="btn btn-primary" (click)="create()">Create</button>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Velocity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sprint of sprints">
            <td><a [routerLink]="['/sprint', sprint.id]">{{sprint.title}}</a></td>
            <td>{{sprint.startDate | date: 'longDate'}}</td>
            <td>{{sprint.endDate | date: 'longDate'}}</td>
            <td>{{sprint.statusLabel}}</td>
            <td>{{sprint.velocity}}</td>
        </tr>
    </tbody>
</table>